.container-inner {
	background-color: #F4F7F9;
}

.tabbar {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 29upx 0 39upx;
	position: fixed;
	left: 0;
	box-sizing: border-box;
	background-color: #fff;
	border-bottom: 1px solid #DEDEDE;
	z-index: 10;
	
	.item {
		width: 25%;
		text-align: center;
		font-size: 28upx;
		font-weight: 500;
		color: #606266;
		
		&.active {
			color: #000000;
			font-weight: bold;
		}
	}
	
	.line-area {
		width: 25%;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: left .3s ease;
		
		.line {
			width: 34upx;
			height: 6upx;
			background-color: #FA7A36;
			border-radius: 3upx;
			position: absolute;
			left: 50%;
			bottom: 25upx;
			transform: translateX(-50%);
			
			&.active {
				left: 75%;
			}
		}
	}
}

.list {
	
	.loading {
		background-color: #fff;
	}
	
	.item {
		padding: 32upx 32upx 40upx;
		background-color: #fff;
		margin-bottom: 8upx;
		
		.info {
			display: flex;
			
			.avatar {
				width: 80upx;
				height: 80upx;
				margin-right: 20upx;
				border-radius: 50%;
			}
			
			.name-date {
				
				.name {
					font-size: 32upx;
					font-weight: bold;
					color: #303133;
				}
				
				.date {
					font-size: 24upx;
					font-weight: 500;
					color: #909399;
				}
			}
		}
		
		.content {
			overflow: hidden;
			font-size: 32upx;
			font-weight: 500;
			color: #303133;
			margin-top: 32upx;
		}
		
		.original {
			font-size: 32upx;
			font-weight: 500;
			color: #1283FF;
			margin-top: 28upx;
		}
		
		.images {
			display: flex;
			flex-wrap: wrap;
			margin-top: 35upx;
			
			.image-1 {
				width: 321upx;
				height: 321upx;
			}
			
			.image-2 {
				width: 218upx;
				height: 218upx;
				margin-bottom: 16upx;
				margin-right: 16upx;
				
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
		
		.bot {
			display: flex;
			justify-content: space-between;
			margin-top: 36upx;
			
			.read {
				font-size: 24upx;
				font-weight: 500;
				color: #909399;
			}
			
			.icons {
				display: flex;
				align-items: center;
				
				.icon-cell {
					display: flex;
					align-items: center;
					margin-left: 28upx;
					
					.icon {
						width: 32upx;
						height: 32upx;
					}
					
					.number {
						font-size: 28upx;
						font-weight: 500;
						color: #606266;
						margin-left: 8upx;
					}
				}
				
				.button {
					width: 32upx;
					height: 32upx;
					margin-left: 28upx;
					background: url('https://mdxes.oss-cn-shanghai.aliyuncs.com/ministatic/discover/fenxiang%402x.png') center center no-repeat;
					background-size: cover;
				}
			}
		}
	}
}

.issue {
	width: 120upx;
	height: 120upx;
	border-radius: 50%;
	position: fixed;
	bottom: 158upx;
	right: 32upx;
	
	.icon {
		width: 120upx;
		height: 120upx;
	}
	
	.text {
		font-size: 24upx;
		font-weight: 500;
		color: #FFFFFF;
	}
}

// 弹窗
.popup-inner {
	border-radius: 30upx 30upx 0 0;
	background-color: #fff;
	overflow: hidden;
	
	.popup-inner-scroll {
		height: 874upx;
		padding-top: 100upx;
		box-sizing: border-box;
		position: relative;
		
		.title {
			width: 100%;
			height: 100upx;
			line-height: 100upx;
			text-align: center;
			position: fixed;
			top: 0;
			left: 0;
			
			.icon {
				position: absolute;
				top: 50%;
				left: 35upx;
				transform: translateY(-50%);
			}
			
			.text {
				font-size: 28upx;
				font-weight: bold;
				color: #000000;
			}
		}
		
		.popup-list .item {
			display: flex;
			width: 100%;
			box-sizing: border-box;
			padding: 50upx 42upx;
			border-bottom: 1px solid #DDDDDD;
			
			.avatar {
				width: 80upx;
				height: 80upx;
				border-radius: 50%;
			}
			
			.info {
				flex: 1;
				margin-left: 24upx;
				
				.username-praise {
					display: flex;
					justify-content: space-between;
					
					.username {
						font-size: 28upx;
						font-weight: 500;
						color: #606266;
					}
					
					.praise {
						display: flex;
						align-items: center;
						
						.icon {
							width: 24upx;
							height: 24upx;
						}
						
						.number {
							font-size: 24upx;
							font-weight: 500;
							color: #606266;
							margin-left: 8upx;
						}
					}
				}
				
				.content {
					width: 520upx;
					font-size: 28upx;
					font-weight: bold;
					color: #303133;
					margin-top: 20upx;
				}
				
				.time {
					font-size: 24upx;
					font-weight: 500;
					color: #606266;
					margin-top: 12upx;
					
					text {
						color: #6CA0D9;
						margin-left: 28upx;
					}
				}
			}
		}
		
		.popup-list .item{
			border-bottom: none;
		}
	}
	
	.popup-reply {
		width: 100%;
		box-sizing: border-box;
		background-color: #fff;
		padding: 0 24upx;
		box-shadow: 0 0 18upx rgba(244, 247, 249, 1);
		
		.replying {
			font-size: 24upx;
			font-weight: 500;
			color: #909399;
			padding-top: 20upx;
		}
		
		.input-area {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			.input {
				width: 650upx;
				height: 72upx;
				background-color: #F4F7F9;
				border-radius: 36upx;
				font-size: 28upx;
				font-weight: 500;
				color: #909399;
				padding-left: 32upx;
				box-sizing: border-box;
				margin: 20upx 0;
			}
			
			.send {
				width: 30upx;
				height: 30upx;
			}
		}
	}
}