.top-half-part {
	padding: 0 32upx;
}

.detail-title {
	font-size: 32upx;
	font-weight: bold;
	color: #303234;
	margin-top: 20upx;
}

.space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40upx 0 50upx;
	
	.avatar-name {
		display: flex;
		align-items: center;
		
		.avatar {
			width: 40upx;
			height: 40upx;
			margin-right: 12upx;
		}
		
		.name {
			font-size: 24upx;
			font-weight: 500;
			color: #303234;
		}
	}
	
	.date {
		display: flex;
		align-items: center;
		
		.line {
			width: 4upx;
			height: 22upx;
			background-color: #FA7A36;
			margin-right: 12upx;
		}
		
		.text {
			font-size: 24upx;
			font-weight: 500;
			color: #606266;
		}
	}
}

.praise {
	margin-top: 71upx;
	text-align: center;
	
	.icon {
		width: 52upx;
		height: 52upx;
	}
	
	.number {
		font-size: 28upx;
		font-weight: 500;
		color: #606266;
	}
}

.split-line {
	height: 8upx;
	background: #F4F7F9;
	margin: 65upx 0 40upx;
}

.chat {
	padding: 0 32upx 0;
	
	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.total {
			font-size: 28upx;
			font-weight: 500;
			color: #606266;
		}
	}
	
	.list {
		margin: 40upx 0 0;
		padding-bottom: 70upx;
		
		.item {
			display: flex;
			justify-content: space-between;
			margin-bottom: 57upx;
			
			.avatar {
				width: 80upx;
				height: 80upx;
				border-radius: 50%;
			}
			
			.other {
				width: 580upx;
				
				.name-zan {
					display: flex;
					justify-content: space-between;
					
					.name {
						font-size: 28upx;
						font-weight: 500;
						color: #606266;
					}
					
					.zan {
						display: flex;
						align-items: center;
						
						.icon {
							width: 24upx;
							height: 24upx;
							margin-right: 7upx;
						}
						
						.number {
							font-size: 24upx;
							font-weight: 500;
							color: #606266;
						}
					}
				}
				
				.comment {
					font-size: 28upx;
					font-weight: bold;
					color: #303234;
					margin-top: 30upx;
				}
				
				.date-reply {
					font-size: 24upx;
					font-weight: 500;
					color: #606266;
					margin-top: 22upx;
					
					.dot {
						margin-left: 16upx;
					}
					
					.reply {
						margin-left: 16upx;
						font-size: 24upx;
						font-weight: 500;
						color: #444444;
						background-color: #EEEEEE;
						border-radius: 20px;
						padding: 10upx 27upx;
					}
				}
			}
		}
	}
	
	.reply-area {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: #fff;
		box-shadow: 0 0 18upx rgba(244, 247, 249, 1);
		
		.replying {
			font-size: 24upx;
			font-weight: 500;
			color: #909399;
			padding-top: 20upx;
			padding-left: 32upx;
		}
		
		.input-area {
			display: flex;
			align-items: center;
			justify-content: space-around;
			
			.input {
				width: 600upx;
				height: 72upx;
				background-color: #F4F7F9;
				border-radius: 10px;
				padding-left: 31upx;
				box-sizing: border-box;
				font-size: 28upx;
				font-weight: 500;
				margin: 20upx 0;
			}
			
			.icon {
				width: 30upx;
				height: 30upx;
			}
		}
	}
}
// 弹窗
.popup-inner {
	border-radius: 30upx 30upx 0 0;
	background-color: #fff;
	overflow: hidden;
	
	.popup-inner-scroll {
		height: 874upx;
		padding-top: 100upx;
		box-sizing: border-box;
		position: relative;
		
		.title {
			width: 100%;
			height: 100upx;
			line-height: 100upx;
			text-align: center;
			position: fixed;
			top: 0;
			left: 0;
			
			.icon {
				position: absolute;
				top: 50%;
				left: 35upx;
				transform: translateY(-50%);
			}
			
			.text {
				font-size: 28upx;
				font-weight: bold;
				color: #000000;
			}
		}
		
		.default, .list .item {
			display: flex;
			width: 100%;
			box-sizing: border-box;
			padding: 50upx 42upx;
			border-bottom: 1px solid #DDDDDD;
			
			.avatar {
				width: 80upx;
				height: 80upx;
				border-radius: 50%;
			}
			
			.info {
				flex: 1;
				margin-left: 24upx;
				
				.username-praise {
					display: flex;
					justify-content: space-between;
					
					.username {
						font-size: 28upx;
						font-weight: 500;
						color: #606266;
					}
					
					.praise {
						display: flex;
						align-items: center;
						
						.icon {
							width: 24upx;
							height: 24upx;
						}
						
						.number {
							font-size: 24upx;
							font-weight: 500;
							color: #606266;
							margin-left: 8upx;
						}
					}
				}
				
				.content {
					width: 520upx;
					font-size: 28upx;
					font-weight: bold;
					color: #303133;
					margin-top: 20upx;
				}
				
				.time {
					font-size: 24upx;
					font-weight: 500;
					color: #606266;
					margin-top: 12upx;
					
					text {
						color: #6CA0D9;
						margin-left: 28upx;
					}
				}
			}
		}
		
		.list .item{
			border-bottom: none;
		}
	}
	
	.popup-reply {
		width: 100%;
		box-sizing: border-box;
		background-color: #fff;
		padding: 0 24upx;
		box-shadow: 0 0 18upx rgba(244, 247, 249, 1);
		
		.replying {
			font-size: 24upx;
			font-weight: 500;
			color: #909399;
			padding-top: 20upx;
		}
		
		.input-area {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			.input {
				width: 650upx;
				height: 72upx;
				background-color: #F4F7F9;
				border-radius: 36upx;
				font-size: 28upx;
				font-weight: 500;
				color: #909399;
				padding-left: 32upx;
				box-sizing: border-box;
				margin: 20upx 0;
			}
			
			.send {
				width: 30upx;
				height: 30upx;
			}
		}
	}
}