.container {
	background-color: #F4F7F9;
	padding: 0 32upx;
}

.order-info {
	background-color: #fff;
	margin-top: 32upx;
	padding: 32upx;
	border-radius: 20upx;
	
	.head {
		display: flex;
		border-bottom: 1px solid #DEDEDE;
		padding-bottom: 32upx;
		
		.image {
			flex-shrink: 0;
			width: 211upx;
			height: 136upx;
		}
		
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-left: 25upx;
			
			.name {
				width: 380upx;
				font-size: 28upx;
				font-weight: bold;
				color: #303234;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.date {
				font-size: 24upx;
				font-weight: 500;
				color: #606266;
			}
		}
	}
	
	.list {
		margin-top: 33upx;
		
		.item {
			display: flex;
			justify-content: space-between;
			margin-bottom: 26upx;
			
			&:nth-last-child(1) {
				margin-bottom: 0;
			}
			
			.name {
				font-size: 28upx;
				font-weight: 500;
				color: #303234;
			}
			
			.price {
				font-size: 32upx;
				font-family: DIN;
				font-weight: 500;
				color: #90949A;
				
				&.active {
					color: #FA7A36;
				}
				
				text {
					font-size: 20upx;
					font-weight: bold;
					color: #90949A;
					margin-left: 6upx;
					
					&.active {
						color: #FA7A36;
					}
				}
			}
		}
	}
}

.coupon-info {
	background-color: #fff;
	padding: 0 32upx;
	border-radius: 20upx;
	margin-top: 32upx;
	
	.item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 88upx;
		border-bottom: 1px solid #DEDEDE;
		
		&:nth-last-child(1) {
			border: none;
		}
		
		.name {
			font-size: 28upx;
			font-weight: 500;
			color: #303234;
		}
		
		.detail {
			display: flex;
			align-items: center;
			
			.text {
				font-size: 28upx;
				font-weight: 500;
				color: #303234;
				margin-right: 24upx;
			}
		}
	}
}

.fixed-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 110upx;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 32upx;
	box-sizing: border-box;
	
	.actual {
		font-size: 24upx;
		font-weight: 500;
		color: #90949A;
		
		.price {
			font-size: 44upx;
			font-family: DIN;
			font-weight: bold;
			color: #FA7A36;
			margin: 0 8upx;
		}
		
		.unit {
			font-size: 20upx;
			font-family: PingFang SC;
			font-weight: bold;
			color: #FA7A36;
		}
	}
	
	button {
		width: 280upx;
		height: 80upx;
		background: #FA7A36;
		border-radius: 40upx;
		font-size: 32upx;
		font-weight: 500;
		color: #FEFEFE;
	}
}

wx-checkbox .wx-checkbox-input {
	width: 32upx;
	height: 32upx;
	border-radius: 50%;
}

wx-checkbox .wx-checkbox-input.wx-checkbox-input-checked {
	background-color: #1283FF;
	border: 1px solid #1283FF;
	color: #fff !important;
}

wx-checkbox .wx-checkbox-input.wx-checkbox-input-checked:before {
	font-size: 30upx;
}

// 优惠券
.coupon-popup {
	width: 750upx;
	height: 750upx;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 34upx;
	
	.title {
		font-size: 32upx;
		font-weight: bold;
		color: #303133;
		text-align: center;
	}
	
	.item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 684upx;
		height: 192upx;
		margin: 50upx auto;
		background: url('https://mdxes.oss-cn-shanghai.aliyuncs.com/ministatic/me/border-1.png') 0 0 no-repeat;
		background-size: 684upx 192upx;
		box-sizing: border-box;
		padding: 0 145upx 0 30upx;
		
		.worth {
			display: flex;
			align-items: center;
			position: relative;
			z-index: 2;
			
			.type {
				display: flex;
				align-items: center;
				width: 42upx;
				height: 134upx;
				background-color: rgba(255, 211, 45, .68);
				font-size: 22upx;
				font-weight: 500;
				color: #C6272A;
				text-align: center;
				line-height: 24upx;
				box-sizing: border-box;
				border-radius: 6upx;
			}
			
			.text {
				font-size: 100upx;
				font-family: DIN;
				font-weight: bold;
				color: #C7282B;
				margin-left: 16upx;
				
				&.active {
					font-size: 54upx;
					margin-left: 58upx;
				}
				
				.unit {
					color: #E76262;
					font-size: 30upx;
				}
			}
		}
		
		.explain {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 110upx;
			
			.title {
				font-size: 28upx;
				color: #C6272A;
			}
			
			.source {
				font-size: 24upx;
				font-weight: 500;
				color: #C6272A;
				margin: 12upx 0;
			}
			
			.date {
				width: 190upx;
				height: 30upx;
				background-color: rgba(198, 39, 42, .68);
				border-radius: 15upx;
				font-size: 15upx;
				font-family: DIN;
				color: #FFFFFF;
				text-align: center;
				line-height: 30upx;
			}
		}
	}
}