.contaier {
	padding: 0 32upx;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	height: 307upx;
	margin-top: 38upx;
}

.tips {
	font-size: 24upx;
	font-weight: 500;
	color: #90949A;
}

.image-group {
	display: flex;
	margin-bottom: 25upx;
		
	image {
		width: 200upx;
		height: 200upx;
	}
}