.container {
	background-color: #F4F7F9;
}
// 详情
.detail {
	padding: 32upx;
	background-color: #FFFFFF;
	position: relative;
	
	.crumbs {
		width: 100%;
		background-color: #F0F0F0;
		border-radius: 16upx 10upx 10upx 0;
		font-size: 24upx;
		font-weight: 500;
		color: #303133;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 12upx 20upx;
		box-sizing: border-box;
	}
	
	.title {
		font-size: 28upx;
		font-weight: bold;
		color: #303133;
		margin-top: 26upx;
	}
	
	.bot {
		display: flex;
		justify-content: space-between;
		margin-top: 23upx;
		
		.praise-reply {
			font-size: 24upx;
			font-weight: 500;
			color: #909399;
		}
		
		.date {
			font-size: 24upx;
			font-family: DIN;
			font-weight: 500;
			color: #909399;
			margin-right: 66upx;
		}
	}
	
	.delete {
		width: 31upx;
		height: 33upx;
		position: absolute;
		bottom: 32upx;
		right: 32upx;
	}
}
// 评论
.comment-area {
	padding: 40upx 32upx 130upx;
	background-color: #fff;
	margin-top: 20upx;
	
	.head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40upx;
		
		.filter {
			display: flex;
			align-items: center;
			
			.cell {
				font-size: 28upx;
				color: #606266;
				
				&.active {
					font-weight: bold;
					color: #303133;
				}
			}
			
			.line {
				width: 1px;
				height: 28upx;
				background-color: #606266;
				margin: 0 14upx;
			}
		}
	}
	
	.item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 57upx;
		
		.avatar {
			width: 80upx;
			height: 80upx;
			border-radius: 50%;
		}
		
		.other {
			width: 580upx;
			
			.name-zan {
				display: flex;
				justify-content: space-between;
				
				.name {
					font-size: 28upx;
					font-weight: 500;
					color: #606266;
				}
				
				.zan {
					display: flex;
					align-items: center;
					
					.icon {
						width: 24upx;
						height: 24upx;
						margin-right: 7upx;
					}
					
					.number {
						font-size: 24upx;
						font-weight: 500;
						color: #606266;
					}
				}
			}
			
			.comment {
				font-size: 28upx;
				color: #303234;
				margin-top: 30upx;
			}
			
			.date-reply {
				font-size: 24upx;
				font-weight: 500;
				color: #606266;
				margin-top: 22upx;
				
				.dot {
					margin-left: 16upx;
				}
				
				.reply {
					margin-left: 16upx;
					font-size: 24upx;
					font-weight: 500;
					color: #444444;
					background-color: #EEEEEE;
					border-radius: 20px;
					padding: 10upx 27upx;
				}
			}
		}
	}
}
// 回复
.reply-area {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	padding: 0 24upx;
	box-shadow: 0 0 18upx rgba(244, 247, 249, 1);
	
	.replying {
		font-size: 24upx;
		font-weight: 500;
		color: #909399;
		padding-top: 20upx;
	}
	
	.input-area {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.input {
			width: 650upx;
			height: 72upx;
			background-color: #F4F7F9;
			border-radius: 36upx;
			font-size: 28upx;
			font-weight: 500;
			color: #909399;
			padding-left: 32upx;
			box-sizing: border-box;
			margin: 20upx 0;
		}
		
		.send {
			width: 30upx;
			height: 30upx;
		}
		
		.praise {
			font-size: 28upx;
			font-weight: 500;
			color: #606266;
			
			.icon {
				width: 24upx;
				height: 24upx;
				margin-right: 8upx;
			}
			
			.number {
				font-size: 24upx;
				font-weight: 500;
				color: #606266;
				margin-left: 8upx;
			}
		}
	}
}
// 弹窗
.popup-inner {
	border-radius: 30upx 30upx 0 0;
	background-color: #fff;
	overflow: hidden;
	
	.popup-inner-scroll {
		height: 874upx;
		padding-top: 100upx;
		box-sizing: border-box;
		position: relative;
		
		.title {
			width: 100%;
			height: 100upx;
			line-height: 100upx;
			text-align: center;
			position: fixed;
			top: 0;
			left: 0;
			
			.icon {
				position: absolute;
				top: 50%;
				left: 35upx;
				transform: translateY(-50%);
			}
			
			.text {
				font-size: 28upx;
				font-weight: bold;
				color: #000000;
			}
		}
		
		.default, .list .item {
			display: flex;
			width: 100%;
			box-sizing: border-box;
			padding: 50upx 42upx;
			border-bottom: 1px solid #DDDDDD;
			
			.avatar {
				width: 80upx;
				height: 80upx;
				border-radius: 50%;
			}
			
			.info {
				flex: 1;
				margin-left: 24upx;
				
				.username-praise {
					display: flex;
					justify-content: space-between;
					
					.username {
						font-size: 28upx;
						font-weight: 500;
						color: #606266;
					}
					
					.praise {
						display: flex;
						align-items: center;
						
						.icon {
							width: 24upx;
							height: 24upx;
						}
						
						.number {
							font-size: 24upx;
							font-weight: 500;
							color: #606266;
							margin-left: 8upx;
						}
					}
				}
				
				.content {
					width: 520upx;
					font-size: 28upx;
					font-weight: bold;
					color: #303133;
					margin-top: 20upx;
				}
				
				.time {
					font-size: 24upx;
					font-weight: 500;
					color: #606266;
					margin-top: 12upx;
					
					text {
						color: #6CA0D9;
						margin-left: 28upx;
					}
				}
			}
		}
		
		.list .item{
			border-bottom: none;
		}
	}
	
	.popup-reply {
		width: 100%;
		box-sizing: border-box;
		background-color: #fff;
		padding: 0 24upx;
		box-shadow: 0 0 18upx rgba(244, 247, 249, 1);
		
		.replying {
			font-size: 24upx;
			font-weight: 500;
			color: #909399;
			padding-top: 20upx;
		}
		
		.input-area {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			.input {
				width: 650upx;
				height: 72upx;
				background-color: #F4F7F9;
				border-radius: 36upx;
				font-size: 28upx;
				font-weight: 500;
				color: #909399;
				padding-left: 32upx;
				box-sizing: border-box;
				margin: 20upx 0;
			}
			
			.send {
				width: 30upx;
				height: 30upx;
			}
		}
	}
}