.inner {
	box-sizing: border-box;
	position: relative;
	padding: 109upx 69upx 0;
	
	.title {
		font-size: 44upx;
		color: #303133;
		font-weight: bold;
	}
	
	.explain {
		font-size: 28upx;
		color: #606266;
		margin-top: 32upx;
		margin-bottom: 105upx;
	}
	
	.button {
		width: 612upx;
		height: 80upx;
		margin: 0;
		padding: 0;
		font-size: 32upx;
		color: #FFFFFF;
		line-height: 80upx;
		background-color: #1283FF;
		margin-top: 120upx;
	}
	
	.password-login {
		text-align: center;
		font-size: 32upx;
		font-weight: 500;
		color: #1283FF;
		text-decoration: underline;
		margin-top: 30upx;
	}
	
	.tripartite {
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 80upx;
		
		.text {
			font-size: 28upx;
			font-weight: 500;
			color: #C0C4CC;
		}
		
		.weixin {
			width: 80upx;
			height: 80upx;
			background: url('https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2866668980,2667750146&fm=26&gp=0.jpg') 0 0 no-repeat;
			background-size: 100% 100%;
			margin: 67upx auto 0;
		}
	}
}