.tabbar {
	display: flex;
	padding: 29upx 0 39upx;
	position: relative;
	box-sizing: border-box;
	
	.item {
		width: 50%;
		text-align: center;
		font-size: 28upx;
		font-weight: bold;
		color: #606266;
		
		&.active {
			color: #000000;
		}
	}
	
	.line {
		width: 34upx;
		height: 6upx;
		background-color: #FA7A36;
		border-radius: 3upx;
		position: absolute;
		left: 25%;
		bottom: 25upx;
		transform: translateX(-50%);
		transition: left .3s ease;
		
		&.active {
			left: 75%;
		}
	}
}

.scroll-view {
	height: 100%;
	padding: 32upx;
	box-sizing: border-box;
	position: relative;
	background-color: #F4F7F9;
}

.scroll-view__item {
	display: flex;
	background-color: #fff;
	border-radius: 20upx;
	padding: 32upx;
	margin-bottom: 16upx;
	
	.image {
		flex-shrink: 0;
		width: 212upx;
		height: 136upx;
		margin-right: 26upx;
	}
	
	.info {
		width: 375upx;
		
		.name {
			font-size: 28upx;
			font-weight: bold;
			color: #303234;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		
		.indate {
			font-size: 24upx;
			font-weight: 500;
			color: #606266;
			margin: 10upx 0;
		}
		
		.bot {
			display: flex;
			align-items: center;
			
			.progress {
				width: 148upx;
			}
			
			.text {
				font-size: 20upx;
				font-weight: 500;
				color: #606266;
				margin-left: 18upx;
			}
		}
	}
}
// 直播
.live {
	
	.item {
		display: flex;
		padding: 24upx;
		background-color: #fff;
		border-radius: 10upx;
		margin-bottom: 32upx;
		
		.avatar {
			flex-shrink: 0;
			width: 212rpx;
			height: 136rpx;
			overflow: hidden;
			border-radius: 10upx;
		}
		
		.info {
			width: 490upx;
			margin-left: 31upx;
			
			.type-title {
				font-size: 28upx;
				font-weight: bold;
				color: #303133;
				width: 396rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.bot {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 10upx;
				
				.user-status {
					
					.user {
						font-size: 24upx;
						color: #303133;
						font-weight: 500;
					}
					
					.status {
						font-size: 24upx;
						font-weight: 500;
						color: #606266;
						margin-top: 10upx;
						
						image {
							width: 18upx;
							height: 22upx;
							margin-left: 12upx;
						}
					}
				}
				
				.button {
					width: 156upx;
					height: 56upx;
					border-radius: 28upx;
					line-height: 56upx;
					font-size: 28upx;
					font-weight: 500
				}
				
				.button-1 {
					background-color: #1283FF;
					color: #FFFFFF;
				}
				
				.button-2 {
					background-color: #F4F7F9;
					color: #909399;
				}
			}
		}
	}
}