.inner {
	padding: 0 70upx;
	
	.title {
		font-size: 44upx;
		font-weight: bold;
		color: #303133;
		margin-top: 108upx;
	}
	
	.tips {
		margin-top: 33upx;
		font-size: 28upx;
		font-weight: 500;
		color: #606266;
		margin-bottom: 100upx;
	}
}