.container {
	padding-top: 422upx;
}

.video-area {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 10;
	
	.video {
		width: 100%;
		height: 422upx;
		float: left;
	}
	
	.video-mask {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 422upx;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .4);
		
		.play {
			width: 96upx;
			height: 96upx;
			background: url('https://mdxes.oss-cn-shanghai.aliyuncs.com/ministatic/common/plays%402x.png') 0 0 no-repeat;
			background-size: 100% 100%;
		}
		
		.text {
			font-size: 32upx;
			font-weight: 500;
			color: #FFFFFF;
		}
		
		.button {
			width: 168upx;
			height: 64upx;
			background: #1283FF;
			border-radius: 32upx;
			line-height: 64upx;
			box-sizing: border-box;
			margin: 33upx auto 0;
			padding: 0;
			font-size: 28upx;
			color: #FFFFFF;
		}
	}
}
// 课程信息
.course-info {
	padding: 48upx 0;
	
	.brief {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 32upx;
		
		.title-hour {
			width: 478upx;
			
			.brief-title {
				font-size: 32upx;
				font-weight: bold;
				color: #303234;
			}
			
			.brief-hour {
				font-size: 24upx;
				font-weight: 500;
				color: #606266;
				margin-top: 10upx;
			}
		}
		
		.button {
			width: 168upx;
			height: 64upx;
			background-color: #1284FF;
			border-radius: 32upx;
			text-align: center;
			line-height: 64upx;
			font-size: 28upx;
			font-weight: 500;
			color: #FFFFFF;
		}
	}
	
	.list {
		margin-top: 48upx;
		padding-left: 32upx;
		white-space: nowrap;
		box-sizing: border-box;
		
		.item {
			display: inline-block;
			width: 410upx;
			background-color: #F4F7F9;
			border-radius: 10upx;
			padding: 32upx;
			box-sizing: border-box;
			margin-right: 32upx;
			
			.icon-title {
				margin-bottom: 10upx;
				
				.icon {
					display: inline-block;
					width: 72upx;
					height: 32upx;
					background: linear-gradient(0deg, #FA7A36, #FF6262, #FF5E09);
					border-radius: 16upx 10upx 10upx 0;
					font-size: 20upx;
					font-weight: bold;
					color: #FFFFFF;
					text-align: center;
					line-height: 32upx;
					margin-right: 10upx;
				}
				
				.item-title {
					display: inline;
					white-space: normal;
					font-size: 28upx;
					font-weight: bold;
					color: #303234;
				}
			}
			
			.user {
				font-size: 24upx;
				font-family: PingFang SC;
				font-weight: 500;
				color: #303234;
				
				text {
					padding: 0 8upx;
					height: 32upx;
					background-color: #DEDEDE;
					border-radius: 4upx;
					line-height: 32upx;
					margin-left: 10upx;
				}
			}
			
			.play {
				font-size: 24upx;
				font-weight: 500;
				color: #606266;
				margin-top: 10upx;
			}
		}
	}
}
// 分割线
.split-line {
	height: 20upx;
	background-color: #F4F7F9;
}
// 滚动区域
.scroll-view {
	height: 100%;
	background-color: #eee;
	box-sizing: border-box;
	padding: 20upx 32upx 120upx;
	
	&.review {
		background-color: #fff;
		padding-bottom: 20upx;
	}
	
	.online {
		font-size: 20upx;
		font-weight: 500;
		color: #909399;
		text-align: right;
		margin-bottom: 20upx;
	}
	
	.item {
		display: flex;
		margin-bottom: 40upx;
		
		.avatar {
			width: 80upx;
			height: 80upx;
			border-radius: 50%;
			background-color: #fff;
		}
		
		.name-content {
			margin-left: 24upx;
			
			.name {
				font-size: 24upx;
				font-weight: 500;
				color: #606266;
			}
			
			.content {
				max-width: 490upx;
				font-size: 28upx;
				font-weight: 500;
				color: #303133;
				background-color: #fff;
				padding: 20upx 35upx;
				border-radius: 12px;
				margin-top: 8upx;
				box-sizing: border-box;
			}
		}
	}
	
	.self {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 40upx;
		
		.avatar {
			width: 80upx;
			height: 80upx;
			border-radius: 50%;
			background-color: #fff;
		}
		
		.name-content {
			margin-right: 24upx;
			
			.name {
				font-size: 24upx;
				font-weight: 500;
				color: #606266;
				text-align: right;
			}
			
			.content {
				max-width: 490upx;
				font-size: 28upx;
				font-weight: 500;
				color: #FEFEFE;
				background-color: #1283FF;
				padding: 20upx 35upx;
				border-radius: 12px;
				margin-top: 8upx;
				box-sizing: border-box;
			}
		}
	}
}

.introduce {
	padding: 60upx 60upx 0 60upx;
	
	.text {
		font-size: 28upx;
		font-weight: 500;
		color: #606266;
		margin-top: 42upx;
		padding: 0 10upx;
	}
}

.prominent {
	padding: 60upx;
	
	.rich-text {
		margin-top: 42upx;
		padding: 0 10upx;
	}
}

.note {
	padding: 40upx 0;
	background-color: #fff;
	
	.item {
		display: flex;
		justify-content: space-between;
		width: 686upx;
		background: #F4F7F9;
		border-radius: 20upx;
		padding: 32upx;
		margin: 0 auto 40upx;
		box-sizing: border-box;
		
		.info {
			
			.name {
				width: 497upx;
				font-size: 28upx;
				font-weight: bold;
				color: #303234;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.size {
				font-size: 24upx;
				font-weight: 500;
				color: #90949A;
				margin-top: 10upx;
			}
		}
		
		.icon {
			width: 43upx;
			height: 43upx;
			background-color: #eee;
		}
	}
}
// 输入框
.input-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 32upx;
	box-shadow: 0 0 18upx rgba(244, 247, 249, 1);
	background-color: #fff;
	
	.input {
		width: 600upx;
		height: 72upx;
		background-color: #F4F7F9;
		border-radius: 36upx;
		box-sizing: border-box;
		padding-left: 32upx;
		line-height: 72upx;
		font-size: 24upx;
		margin: 20upx 0;
	}
	
	.icon {
		width: 30upx;
		height: 30upx;
	}
}