.swiper {
		background-color: #F4F7F9;
	}
	
	.scroll-view {
		height: 100%;
		box-sizing: border-box;
		padding: 32upx 40upx 0;
		
		.item {
			border-radius: 20upx;
			overflow: hidden;
			margin-bottom: 40upx;
			
			.banner {
				width: 686upx;
				height: 300upx;
				overflow: hidden;
				
				.image {
					width: 100%;
					height: 100%;
					float: left;
				}
			}
			
			.info {
				padding: 32upx;
				background-color: #fff;
				
				.info-title {
					font-size: 28upx;
					font-weight: bold;
					color: #303133;
					margin-bottom: 24upx;
				}
				
				.space-between {
					display: flex;
					align-items: center;
					justify-content: space-between;
					
					.left {
						
						.user {
							display: flex;
							align-items: center;
							
							.avatar {
								width: 40upx;
								height: 40upx;
								border-radius: 50%;
							}
							
							.name {
								font-size: 24upx;
								font-weight: 500;
								color: #303133;
								margin: 0 18upx;
							}
							
							.post {
								font-size: 24upx;
								font-weight: 500;
								color: #909399;
							}
						}
						
						.time-number {
							font-size: 24upx;
							font-weight: 500;
							color: #606266;
							margin-top: 24upx;
							
							.time {
								margin-left: 32upx;
							}
						}
					}
					
					.button {
						width: 168upx;
						height: 64upx;
						background-color: #1283FF;
						border-radius: 32upx;
						font-size: 28upx;
						font-weight: 500;
						color: #FFFFFF;
						line-height: 64upx;
					}
				}
			}
		}
	}