.inner {
	padding: 0 70upx;
	
	.title {
		font-size: 44upx;
		font-weight: bold;
		color: #303133;
		margin-top: 108upx;
	}
	
	.tips {
		margin-top: 33upx;
		font-size: 28upx;
		font-weight: 500;
		color: #606266;
	}
	
	.seccode {
		margin-top: 80upx;
	}
	
	.resend {
		margin-top: 42upx;
		font-size: 28upx;
		font-weight: 500;
		color: #909399;
		text-align: center;
		
		text {
			color: #1283FF;
		}
	}
	
	// button {
	// 	width: 612upx;
	// 	height: 80upx;
	// 	line-height: 80upx;
	// 	font-size: 32upx;
	// 	font-weight: 500;
	// 	color: #FFFFFF;
	// 	background-color: #1283FF;
	// 	border-radius: 10upx;
	// 	margin-top: 163upx;
	// }
}