.contaier {
	padding: 0 32upx;
	box-sizing: border-box;
	background-color: #F4F7F9;
}

.lineChart {
	border-radius: 20upx;
	background-color: #fff;
	margin-top: 20upx;
	padding: 32upx;
	
	.tips {
		font-size: 24upx;
		font-weight: bold;
		color: #303133;
	}
	
	.charts {
		width: 622upx;
		height: 308upx;
	}
}