.container {
	background-color: #F4F7F9;
}

.tips {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120upx;
	padding: 0 32upx;
	background-color: #FA7A36;
	
	.name {
		font-size: 32upx;
		font-weight: bold;
		color: #FFFFFF;
	}
	
	.price {
		font-size: 28upx;
		font-weight: bold;
		color: #FFFFFF;
	}
}

.order-info {
	width: 686upx;
	background-color: #fff;
	padding: 32upx;
	border-radius: 20upx;
	box-sizing: border-box;
	margin: 32upx auto 0;
	
	.head {
		display: flex;
		border-bottom: 1px solid #DEDEDE;
		padding-bottom: 32upx;
		
		.image {
			flex-shrink: 0;
			width: 211upx;
			height: 136upx;
		}
		
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-left: 25upx;
			
			.name {
				width: 380upx;
				font-size: 28upx;
				font-weight: bold;
				color: #303234;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.date {
				font-size: 24upx;
				font-weight: 500;
				color: #606266;
			}
		}
	}
	
	.list {
		margin-top: 33upx;
		
		.item {
			display: flex;
			justify-content: space-between;
			margin-bottom: 26upx;
			
			&:nth-last-child(1) {
				margin-bottom: 0;
			}
			
			.name {
				font-size: 28upx;
				font-weight: 500;
				color: #303234;
			}
			
			.price {
				font-size: 32upx;
				font-family: DIN;
				font-weight: 500;
				color: #90949A;
				
				&.active {
					color: #FA7A36;
				}
				
				text {
					font-size: 20upx;
					font-weight: bold;
					color: #90949A;
					margin-left: 6upx;
					
					&.active {
						color: #FA7A36;
					}
				}
			}
		}
	}
}

.payment-info {
	width: 686upx;
	padding: 32upx 32upx 0;
	background-color: #fff;
	margin: 32upx auto 0;
	box-sizing: border-box;
	border-radius: 20upx;
	
	.item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40upx;
		
		.name {
			font-size: 28upx;
			font-weight: 500;
			color: #303234;
		}
		
		.price {
			font-size: 32upx;
			font-family: DIN;
			font-weight: 500;
			color: #90949A;
			
			&.active {
				color: #FA7A36;
			}
			
			text {
				font-size: 20upx;
				margin-left: 8upx;
				
				&.active {
					color: #FA7A36;
				}
			}
		}
	}
	
	.button-group {
		display: flex;
		justify-content: flex-end;
		margin-top: 33upx;
		border-top: 1px solid #DEDEDE;
		padding: 24upx 0;
		
		.cancel {
			width: 160upx;
			height: 56upx;
			box-sizing: border;
			border: 1px solid #C0C4CC;
			border-radius: 28upx;
			font-size: 28upx;
			font-weight: 500;
			color: #90949A;
			line-height: 56upx;
		}
		
		.payment {
			width: 136upx;
			height: 56upx;
			background-color: #FA7A36;
			border-radius: 28upx;
			line-height: 56upx;
			font-size: 28upx;
			font-weight: 500;
			color: #FFFFFF;
			margin-left: 32upx;
		}
	}
}